.container{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center ;
}

.container h1{
    font-style: italic;
    text-align: center;
    color: rgb(237, 228, 237);
    position: absolute;
    top: 50%;
    right: 70%;
}
