<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><span> <img style="max-height: 100px"src="/assets/imagenes/argentina_programa.png" alt=""> </span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="d-flex ">
          <ul class="social iconos" style="display: flex;  list-style: none;">
              <li><a href="https://web.whatsapp.com/"><img src="/assets/imagenes/whatsapp.png" height="25" width="25" style="margin: 4px;"></a></li>
              <li><a href="https://github.com/"><img src="/assets/imagenes/github.png" height="25" width="25" style="margin: 4px;"></a></li>
              <li><a href="https://www.google.com/search?q=gmail&oq=gmail&aqs=chrome..69i57j0i131i433i512j0i433i512j0i131i433i512l4j69i61.12734j0j4&sourceid=chrome&ie=UTF-8"><img src="/assets/imagenes/gmail.png" width="25" height="25" style="margin: 4px;"></a></li>
          </ul>       
      </div>
    </div>
    <input type="text" class="search-hover" name="" placeholder="search here..."  />
</nav>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/assets/imagenes/fondo-acuarela-pintada-mano-forma-cielo-nubes_24972-1095.jpg" alt="First slide" style="max-height: max-content;" />
    
    </div>
  </div>
</div>
 <div class="row" style="margin: 35px;">
  <div class="card col-md-3" style="margin: 10px; background-color: #f1f0f5;">
    <img class="card-img-top" src="/assets/imagenes/foto perfil.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">¡Hola, me llamo Karina!</h5>
      <h6>Acerca de...</h6>
      <p class="card-text">Este es mi portfolio web el cierre del proyecto integrador.</p>
      <p>Estoy tratando de insertarme en el mundo laboral de los desarrolladores y ofrezco la mayor voluntad para seguir perfeccionandome en este campo</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Karina Alejandra Ortiz </li>
      <li class="list-group-item">Profesora de Ingles</li>
      <li class="list-group-item">Fullstack developer Jr</li>
    </ul>
  </div> 
  
     <div class="row col-md-8" >
    <div class="card col-md-12" style="margin: 10px;">
      <div class="container-flex jumbotron jumbotron-fluid" style="margin: 10px;">
        <h1 class="display-4">Experiencia laboral</h1>
        <p class="lead"></p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Profesora de Ingles </li>
          <li class="list-group-item">Tesorera en cooperadora escolar</li> 
        </ul> 
        <hr class="my-4">
        
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>     
    </div>   
    <div class="card col-md-12" style="margin: 10px;">
      <div class="container-flex jumbotron jumbotron-fluid" style="margin: 10px;">
        <h1 class="display-4">Educacion:</h1>
        <p class="lead">Gracias a Argentina Programa he tenido una capacitacion organizada en el campo de la programacion,<br>
        previo a eso he estado incursionando de manera libre mediante tutoriales en Youtube.</p>
        <img src="https://img2.freepng.es/20180729/bp/kisspng-logo-primera-air-organization-business-english-lan-british-flag-5b5e7d460d5b11.4916650115329191100547.jpg" alt="Descarga gratuita de  Imágen de Png" height="50px" width="50px" style= float:left; display="inline-block">
        <p>Me he recibido como profesora de Ingles en el Instituto Oxford de Cultura Inglesa.</p>
        <img src="https://ens11-caba.infd.edu.ar/sitio/wp-content/uploads/2020/06/logo-ens-11.png" alt="Escuela Normal Superior Nro. 11 &quot;Dr. Ricardo Levene&quot; DE 6°" height="50px" width="50px" style= float:left; display="inline-block">
        <p>Tambien he estudiado en el Normal Nº 11 como maestra en nivel inicial</p>
        <hr class="my-4">                
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
    </div>
  </div>  
</div> 
<router-outlet></router-outlet>
<app-experiencia-laboral></app-experiencia-laboral>
