<div class="row" style="margin: 35px;">
    <div class="card col-md-3" style="margin: 10px; background-color: #f1f0f5;">
      <img class="card-img-top" src="/assets/imagenes/foto perfil.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">¡Hola, me llamo Karina!</h5>
        <h6>Acerca de...</h6>
        <p class="card-text">Este es mi portfolio web el cierre del proyecto integrador.</p>
        <p>Estoy tratando de insertarme en el mundo laboral de los desarrolladores y ofrezco la mayor voluntad para seguir perfeccionandome en este campo</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Karina Alejandra Ortiz </li>
        <li class="list-group-item">Profesora de Ingles</li>
        <li class="list-group-item">Fullstack developer Jr</li>
      </ul>
    </div>
